body{
  background-color: #EDF0F5;
  font-family: 'Roboto', sans-serif;
}
.container .block{
  background-color: #fff;
  border-radius: 0.45rem;
}
h2, h3 {
  color: #5BAADD;
}
/* header */
#photo img{
  width: 100%;
  border-color: #5BAADD !important;
  border-width: 0.25rem !important;
}
#container-name-position h1{
  font-weight: bold;
}
#container-name-position{
  text-align: center;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #container-name-position h1{
    font-size: 3rem;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #container-name-position h1{
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #photo{
    margin-left: 3rem;
  }
  #container-name-position{
    text-align: left;
  }
  #container-name-position h1{
    font-weight: bold;
    font-size: 6rem;
  }

}

#container-name-position h2{
  font-style: italic;
  font-size: 2rem;
  font-weight: 100;
}
/* Info block */
#container-info-contacts ul,.block-skills ul,  .block-other-info ul{
  padding: 0rem;
  list-style: none;
}
/* Technical skills */
.block-skill{
  width: 100%;
  background-color: #5baadd;
  color:#fff
}